<footer class="mt-auto py-5 border-top bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 ">
                <p class="small text-muted mb-0 lh-base">
                    Il progetto “Talenti italiani: Piattaforma nazionale del PNA - Premi Nazionale delle Arti” è stato
                    finanziato dal MUR - Ministero dell’Università e della Ricerca - Direzione generale per la
                    sostenibilità e la programmazione del sistema della formazione superiore già Direzione generale
                    degli ordinamenti della formazione superiore e del diritto allo studio · Ufficio I “Affari generali
                    e coordinamento”.
                </p>
                <p class="small text-muted mt-3 mb-0">© 2026 Report PNA - ISIA Roma Design</p>
            </div>
        </div>
    </div>
</footer>